{
  "extends": "standard",
  "env": {
    "node": "true",
    "es6": "true",
  },
  "rules": {
    "no-underscore-dangle": 0,
    "max-len": [2, 79],
    "comma-dangle": ["error", "only-multiline"],
    "no-var": "error"
    }
}
